<template>
    <template if:true={isDisplayed}>
        <div class={topLevelClassName}>
            <template if:true={isGiant}>
                <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                    <div class="slds-modal__container">

                        <header class="slds-modal__header">
                            
                            <template if:true={hasClose}>
                                
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={onClosePage}>
                                    <lightning-icon size=small class=svgWhite variant=inverse icon-name=utility:close></lightning-icon>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                            </template>
                            <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{messageHeader}</h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <lightning-formatted-rich-text value={messageBody}></lightning-formatted-rich-text>
                        </div>
                        <footer class="slds-modal__footer">
                            
                            <div class={footerClassName}>
                                <template for:each={buttonSet} for:item=button>
                                    <button key={button.label} class={button.class} onclick={onButtonClick} name={button.label}>{button.label}</button>
                                </template>
                            </div>
                        </footer>
                    </div>
                </section>
            </template>
            <template if:true={isMini}>
                <div class=suiModalBody>
                    <template if:true={hasClose}>
                        <div class=suiModalCloseButton>
                            <lightning-icon size=x-small class=svgWhite icon-name=utility:close onclick={onClosePage}></lightning-icon>
                        </div>
                    </template>

                    <div class=suiModalMessageHeader>
                        <template if:true={hasIcon}>
                            <lightning-icon size=small icon-name={messageIconName}></lightning-icon>
                        </template>
                        <span>{messageHeader}</span>
                    </div>
                    <div class=suiModalMessageBody>
                        <lightning-formatted-rich-text value={messageBody}></lightning-formatted-rich-text>
                    </div>
                    <div class={footerClassName}>
                        <template for:each={buttonSet} for:item=button>
                            <button key={button.label} class={button.class} onclick={onButtonClick} name={button.label}>{button.label}</button>
                        </template>
                    </div>
                </div>
            </template>
        </div>
    </template>
</template>