@keyframes puff-in-center {
    0% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes puff-out-center {
    0% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }
}

.suiModalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    animation: puff-in-center 0.25s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
.suiModalBackdrop.close {
    animation: puff-out-center 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}
.suiModalBackdrop .suiModalBody {
    min-width: 200px;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    position: absolute;
    border-radius: 5px;
}
.suiModalBackdrop .suiModalBody .suiModalCloseButton {
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
}
.suiModalBackdrop .suiModalBody .suiModalMessageHeader {
    font-size: 1.5em;
    font-weight: 600;
    display: flex;
    color: rgb(50,50,50);
}
.suiModalBackdrop .suiModalBody .suiModalMessageHeader .slds-icon_container {
    margin-right: 10px;
}
.suiModalBackdrop .suiModalBody .suiModalMessageHeader > span {
    flex: 1;
    padding-bottom: 5px;
    text-align: left;
}
.suiModalBackdrop .suiModalBody .suiModalMessageBody {
    font-size: 13px;
    padding: 10px 0;
    margin-bottom: 20px;
}

.suiModalControls { display: flex; }
.suiModalControls.right { justify-content: flex-end; }
.suiModalControls.left { justify-content: flex-start; }
.suiModalControls.spread { justify-content: space-between; }
.suiModalControls.center { justify-content: center; }
.suiModalControls.sharp .slds-button { border-radius: 0; }
.suiModalControls.rounded .slds-button { border-radius: 20px; padding-left: 20px; padding-right: 20px;}
.suiModalControls.soft .slds-button { border-radius: 20px; padding-left: 20px; padding-right: 20px;}
.flexer {
    flex: 1;
}



/** THEMES **/

/*Batman*/
.suiModalBackdrop.batman .suiModalControls .slds-button {}
.suiModalBackdrop.batman .suiModalControls .slds-button.positive {}
.suiModalBackdrop.batman .suiModalControls .slds-button.negative {}
.suiModalBackdrop.batman .suiModalControls .slds-button.neutral {}